<% include ../header %>
  <h1>Add new</h1>
  <form method="post" action="/posts/create">
    <input type="text" name="title">
    <input type="text" name="body">
    <input type="submit" value="Add new">
  </form>
  <p><a href="/">GoBack</a></p>
<% include ../footer %>
